body {
  background-color: #282c34;
  text-align: center;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: center;
  background-color: white;
}

.react-logo {
  pointer-events: none;
}

.logo {
  height: 10vmin;
  padding: 20px;
}

footer {
  display: grid;
  place-items: center;
  height: 100px;
  background-color: white;
}

main {
  height: 70vh;
  display: grid;
  place-items: center;
  max-width: 100%;
}

button {
  padding: 10px 20px;
  background-color: transparent;
  margin: 0px 4px;
  font-size: 5rem;
  border-radius: 4px;
  border: 2px solid rgb(129, 203, 18);
  color: rgb(129, 203, 18);
  font-family: 'Smooch Sans', sans-serif;
}

button:hover,
button:focus {
  transform: scale(1.05);
}

h1,
input {
  font-size: 10rem;
  margin: 10px;
}

input {
  width: fit-content;
  background-color: transparent;
  color: rgb(129, 203, 18);
  font-family: 'Smooch Sans', sans-serif;
  border: 2px solid rgb(129, 203, 18);
  outline: none;
  display: inline;
  text-align: center;
  width: 5ch;
}

.box {
  height: 250px;
  display: flex;
  place-content: center;
}