body {
  margin: 0;
  font-family: 'Smooch Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(129, 203, 18);
}

code {
  font-family: monospace;
}